version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    groups:
      all-npm:
        patterns:
          - "*"
  - package-ecosystem: bundler
    directories:
      - "/"
      - "/src/containers/ftp"
      - "/src/containers/transcode"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      all-bundler:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
