{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier", "jest"],
  "env": {
    "node": true,
    "es2022": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": 0,
    "no-param-reassign": 0
  },
  "overrides": [
    {
      "files": ["src/lambdas/**/index.js"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "packageDir": "./"
          }
        ]
      }
    },
    {
      "files": ["**/*.mjs"],
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {
        "import/prefer-default-export": "off",
        "import/extensions": "off"
      }
    },
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest/globals": true
      }
    }
  ]
}
