.aws-sam
.bundle
.cache
.config
.deploy
.DS_Store
.env
.env.stag
.env.prod
.npm
node_modules
package-lock.json
samconfig.toml
samconfig.dev.toml
samconfig.test.toml
samconfig.stag.toml
samconfig.prod.toml
vendor
